{{define "header"}}{{end}}

{{define "body"}}
<div id="doorentry">
    {{if .Notice}}<div class="doornotice" aria-live="polite">{{.Notice}}</div>{{end}}
    <form action="/" method="post">
        <label for="txtInput" class="visually-hidden">PIN</label>
        <input id="txtInput" type="text" name="txtInput"
            autocapitalize="off" autocorrect="off" spellcheck="false"
            autocomplete="off" autofocus /><br />
        <input type="submit" value="{{.SubmitText}}" class="button pretty-button" />
    </form>
</div>
{{end}}
